.Container{
  background-color: white;
  margin: auto;
  margin-top: 20px;
  width: 400px;
  padding: 10px;
  box-shadow: 0 0 10px gray;
}
h2{
  text-align: center;
}
.yourbalance{
  margin-left: 20px;
}